# Any pip-installable libraries that your project requires must be listed (one per line):

flask # Front/Back-end
SQLAlchemy
Flask-SQLAlchemy>=2.5.1 # Database storage
plotly==5.24.1 # Pie chart creation
plaid-python # Bank account integration (load transaction history)
validator-collection # Email verification
python-dotenv # .env File
