Any pip-installable libraries that your project requires must be listed (one per line):

pip install flask # Front/Back-end
pip install SQLAlchemy
pip install -U Flask-SQLAlchemy # Database storage
pip install plotly==5.24.1 # Pie chart creation
pip install plaid-python # Bank account integration (load transaction history)
pip install validator-collection # Email verification
